@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1c0f42;
    
    color: white;
}


img{
    max-width: 300px;
}

.main-container{
    /* background-color: rssed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
    width: 300px;
}

.text-container{
    text-align: center;
    margin-top: 60px;
}

.text-container h1{
    font-family: 'Concert One', cursive;
    font-weight: 100;
    /* color: #10d7ff; */
    font-size: 2.8rem;
    
}

.text-container p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 14px;
    color: #f7f7f7;
    margin-top: 5px;
    
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 3px;
}

.btn-container a{
    font-family: 'Poppins', sans-serif;
    padding: 10px 90px;
    border-radius: 10px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 0.9rem;
    
    
}

a{
    text-decoration: none;
    color: white;
}

.btn-container .btn-one{
    background-color: #6949fe;
    color: white;
}


.btn-container .btn-one:active{
    background-color: #3f18ef;
    color: white;
}



.btn-container .btn-two{
    /* background-color: #6949fe; */
    border: 1px solid #7354ff;
    background: none;
    color: white;
    /* color: white; */
}